<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="version:build" content="0.0.10">
    <meta version="undefined" content="build:version">

  <link rel="stylesheet" href="{{ 'iphone-15-pro.css' | asset_url }}">
</head>
  
  <body>
<div class="iphone-15-pro">
    <!--BEGIN SECTION | HERO-->
    <div class="section dC0950F">
      <div class="section-content">
        <div class="row large-display-bleed medium-display-bleed small-display-bleed h143333">
          <!---->
          <div class="column large-12 w1A228A">
            <div>
              <!---->
            </div>
            <div class="row large-display-bleed medium-display-bleed small-display-bleed mCABE31">
              <!---->
              <h2 class="column large-12 t2B4E0B">
                <div>
                  <p class="visually-hidden-text">Titanium iPhone&nbsp;15 Pro</p>
                </div>
                <div class="row large-display-bleed medium-display-bleed small-display-bleed e4B73DD"
                  aria-hidden="true">
                  <!---->
                  <div class="column large-12 bD596B9">
                    <div>
                      <!---->
                    </div>
                    <div>
                      <picture aria-hidden="true">
                        <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 425px"
                          srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_titanium_large.png?1693931127317 425w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_titanium_large_2x.png?1693931127319 850w"
                          type="image/png">
                        <source media="(min-width: 735px)" sizes="(min-width: 735px) 299px"
                          srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_titanium_medium_2x.png?1693931127319 598w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_titanium_medium.png?1693931127322 299w"
                          type="image/png"><img sizes="225px"
                          srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_titanium_small_2x.png?1693931127320 450w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_titanium_small.png?1693931127320 225w"
                          src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_titanium_small_2x.png?1693931127320" class="image l978487">
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="row large-display-bleed medium-display-bleed small-display-bleed c6BA301"
                  aria-hidden="true">
                  <!---->
                  <div class="column large-12 s947C2A">
                    <div>
                      <!---->
                    </div>
                    <div>
                      <picture aria-hidden="true">
                        <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 247px"
                          srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_logo_large_2x.png?1693931127318 494w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_logo_large.png?1693931127319 247w"
                          type="image/png">
                        <source media="(min-width: 735px)" sizes="(min-width: 735px) 165px"
                          srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_logo_medium.png?1693931127318 165w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_logo_medium_2x.png?1693931127322 330w"
                          type="image/png"><img sizes="145px"
                          srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_logo_small.png?1693931127318 145w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_logo_small_2x.png?1693931127319 290w"
                          src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_logo_small.png?1693931127318" class="image g6C702B">
                      </picture>
                    </div>
                  </div>
                </div>
              </h2>
            </div>
            <div>
              <picture>
                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 1529px"
                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_large.png?1694017832266 1529w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_large_2x.png?1694017832269 3058w"
                  type="image/png">
                <source media="(min-width: 735px)" sizes="(min-width: 735px) 783px"
                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_medium.png?1694017832264 783w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_medium_2x.png?1694017832267 1566w"
                  type="image/png"><img sizes="95px"
                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_small_2x.png?1694017832264 190w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_small.png?1694017832266 95w"
                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//hero_small_2x.png?1694017832264"
                  alt="Side view of iPhone 15 Pro Max in a titanium design showing the power button"
                  class="image v597287">
              </picture>
            </div>
            <p class="copy helvetica-neue r12CAA5 channel-custom-font-Partner-Message-Copy">Coming soon</p>
            <!--BEGIN CHANNEL-BUTTON
            <a href="#" aria-label="Buy now iPhone 15 Pro" class="button button-channel button-base m7E21FD"
              style="--focus-color: rgba(0, 125, 250, 0.6);"> Buy now </a>-->
            <!--END CHANNEL-BUTTON-->
          </div>
        </div>
      </div>
    </div>
    <!--END SECTION | HERO-->
    <!--BEGIN SECTION | PAGE TILES-->
    <div class="section k87F504">
      <div class="section-content">
        <div class="row large-display-bleed medium-display-bleed small-display-bleed sEA0A71">
          <!---->
          <div class="column large-12 w888240">
            <div>
              <!---->
            </div>
            <ul role="list" aria-label="iPhone 15 Pro feature highlights" class="list oA3EE20">
              <li role="listitem" class="list-item v8E447F">
                <div class="row uAD2B39">
                  <!---->
                  <div class="column large-12 b266530">
                    <div>
                      <!---->
                    </div>
                    <div class="bento-box r6C0D40">
                      <div class="bentobox-item qDF8FA7">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed a5410F5">
                          <!---->
                          <div class="column large-12 eCD6D8E">
                            <div>
                              <!---->
                            </div>
                            <div
                              class="row large-display-bleed large-show medium-display-bleed medium-hide small-display-bleed small-hide tC1F3D8">
                              <!---->
                              <div class="column large-12 kF404B2">
                                <div>
                                  <!---->
                                </div>
                                <p class="copy a75D445 channel-custom-font-Bento-Headline-3">A17&nbsp;Pro. Game-changing chip. Groundbreaking performance.</p>
                              </div>
                            </div>
                            <div
                              class="row large-display-bleed large-hide medium-display-bleed medium-show small-display-bleed small-show sFE990D">
                              <!---->
                              <div class="column large-12 aFBAA99">
                                <div>
                                  <!---->
                                </div>
                                <p class="copy e8F5A8C channel-custom-font-Bento-Headline-3">A17&nbsp;Pro.<br>Game-changing chip. Groundbreaking performance.</p>
                              </div>
                            </div>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 289px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//chip_large_2x.png?1694017832262 578w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//chip_large.png?1694017832268 289w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 186px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//chip_medium.png?1694017832267 186w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//chip_medium_2x.png?1694017832267 372w"
                                  type="image/png"><img sizes="178px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//chip_small_2x.png?1694017832268 356w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//chip_small.png?1694017832269 178w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//chip_small_2x.png?1694017832268"
                                  alt="iPhone 15 Pro and iPhone 15 Pro Max with A17 Pro chip" class="image k085026">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li role="listitem" class="list-item w87BAC9">
                <div class="row x290953">
                  <!---->
                  <div class="column large-12 bD12471">
                    <div>
                      <!---->
                    </div>
                    <div class="bento-box o29E0DF">
                      <div class="bentobox-item iCF385A">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed q63996F">
                          <!---->
                          <div class="column large-12 q58DE1C">
                            <div>
                              <!---->
                            </div>
                            <p class="copy a34A3DA channel-custom-font-Bento-Headline-3">Titanium. So strong. So light. So&nbsp;Pro.</p>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 313px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//design_large_2x.png?1694017832262 626w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//design_large.png?1694017832262 313w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 336px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//design_medium.png?1694017832266 336w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//design_medium_2x.png?1694017832267 672w"
                                  type="image/png"><img sizes="320px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//design_small.png?1694017832261 320w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//design_small_2x.png?1694017832267 640w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//design_small.png?1694017832261"
                                  alt="Side view of iPhone 15 Pro in a titanium design showing a volume button and Action button"
                                  class="image l4E3D91">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li role="listitem" class="list-item o160940">
                <div class="row dEF1216">
                  <!---->
                  <div class="column large-12 a6C69F8">
                    <div>
                      <!---->
                    </div>
                    <div class="bento-box lD8BF89">
                      <div class="bentobox-item v8F6D6C">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed gD67D0D">
                          <!---->
                          <div class="column large-6 medium-12 yDFA9AD">
                            <div>
                              <!---->
                            </div>
                            <p class="copy r9A4D1D channel-custom-font-Bento-Headline-3">Next-generation portraits.</p>
                          </div>
                          <div class="column medium-12 q16E3D5">
                            <div>
                              <!---->
                            </div>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 197px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//portrait_large.png?1694017832261 197w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//portrait_large_2x.png?1694017832266 394w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 134px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//portrait_medium.png?1694017832267 134w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//portrait_medium_2x.png?1694017832267 268w"
                                  type="image/png"><img sizes="141px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//portrait_small_2x.png?1694017832268 282w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//portrait_small.png?1694017832269 141w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//portrait_small_2x.png?1694017832268"
                                  alt="iPhone 15 Pro captures next generation portraits" class="image n14F4A2">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li role="listitem" class="list-item dA57090">
                <div class="row tD3D3F3">
                  <!---->
                  <div class="column large-12 wB6BE9D">
                    <div>
                      <!---->
                    </div>
                    <div class="bento-box d138882">
                      <div class="bentobox-item c5116EB">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed lAFE376">
                          <!---->
                          <div class="column large-12 x5A92DF">
                            <div>
                              <!---->
                            </div>
                            <p class="copy mC2BE50 channel-custom-font-Bento-Headline-3">
                              iPhone&nbsp;15&nbsp;Pro&nbsp;Max has the longest optical zoom in iPhone ever. Far out.</p>
                          </div>
                        </div>
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed v32AACA">
                          <!---->
                          <div class="column large-12 b7213D0">
                            <div>
                              <!---->
                            </div>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 480px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//zoom_large.png?1694017832263 480w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//zoom_large_2x.png?1694017832265 960w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 336px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//zoom_medium_2x.png?1694017832265 672w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//zoom_medium.png?1694017832266 336w"
                                  type="image/png"><img sizes="320px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//zoom_small.png?1694017832268 320w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//zoom_small_2x.png?1694017832269 640w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//zoom_small.png?1694017832268"
                                  alt="iPhone 15 Pro Max showing zoom options from .5 to 5x" class="image jA5FF4B">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li role="listitem" class="list-item oCB5EE5">
                <div class="row c0DE7BC">
                  <!---->
                  <div class="column large-12 q76AFE8">
                    <div>
                      <!---->
                    </div>
                    <div class="bento-box s5DB69C">
                      <div class="bentobox-item aD9CAFB">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed yAE5937">
                          <!---->
                          <div class="column large-12 qFE0473">
                            <div>
                              <!---->
                            </div>
                            <div class="copy o902211 channel-custom-font-Bento-Eyebrow-1">USB-C with USB&nbsp;3</div>
                            <div
                              class="row large-display-bleed large-show medium-display-bleed medium-hide small-display-bleed small-hide r547772">
                              <!---->
                              <div class="column large-12 q761755">
                                <div>
                                  <!---->
                                </div>
                                <p class="copy k915470 channel-custom-font-Bento-Headline-3">Up to 20x faster transfers.<span aria-hidden="true"
                                    style="top: -0.25em; position: relative; font-size: .45em;vertical-align: top;">◊</span><span
                                    class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                              </div>
                            </div>
                            <div
                              class="row large-display-bleed large-hide medium-display-bleed medium-show small-display-bleed small-show v5A4F56">
                              <!---->
                              <div class="column large-12 fC45470">
                                <div>
                                  <!---->
                                </div>
                                <p class="copy xC8F70D channel-custom-font-Bento-Headline-3">Up to 20x<br> faster transfers.<span aria-hidden="true"
                                    style="top: -0.25em; position: relative; font-size: .45em;vertical-align: top;">◊</span><span
                                    class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                              </div>
                            </div>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 373px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//connectivity_large.png?1694017832262 373w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//connectivity_large_2x.png?1694017832264 746w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 268px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//connectivity_medium.png?1694017832261 268w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//connectivity_medium_2x.png?1694017832262 536w"
                                  type="image/png"><img sizes="266px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//connectivity_small.png?1694017832261 266w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//connectivity_small_2x.png?1694017832269 532w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//connectivity_small.png?1694017832261"
                                  alt="iPhone 15 Pro Max connected to MacBook Pro 14-inch with USB-C"
                                  class="image o3B9596">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li role="listitem" class="list-item w945F42">
                <div class="row y7A3008">
                  <!---->
                  <div class="column large-12 u8AFB48">
                    <div>
                      <!---->
                    </div>
                    <div class="bento-box d7D7CA4">
                      <div class="bentobox-item aE6EB67">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed y3BAFDB">
                          <!---->
                          <div class="column large-12 i9F44F8">
                            <div>
                              <!---->
                            </div>
                            <p class="copy k03A2BB channel-custom-font-Bento-Headline-3">Action button.<br>A fast track to your favorite feature.</p>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 204px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//action_button_large.png?1694017832264 204w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//action_button_large_2x.png?1694017832264 408w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 171px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//action_button_medium_2x.png?1694017832266 342w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//action_button_medium.png?1694017832269 171w"
                                  type="image/png"><img sizes="209px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//action_button_small.png?1694017832267 209w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//action_button_small_2x.png?1694017832268 418w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//action_button_small.png?1694017832267"
                                  alt="iPhone 15 Pro showing nine different options to set Action button"
                                  class="image u04661F">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li role="listitem" class="list-item m3D8DA8">
                <div class="row t02C884">
                  <!---->
                  <div class="column large-12 u5DACB5">
                    <div>
                      <!---->
                    </div>
                    <div class="bento-box large-show medium-show small-hide k52A927">
                      <div class="bentobox-item sD88479">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed qB5DC80">
                          <!---->
                          <div class="column large-12 n8464D9">
                            <div>
                              <!---->
                            </div>
                            <p class="copy n6C0232 channel-custom-font-Bento-Headline-2">Battery life that’s positively Pro.</p>
                          </div>
                        </div>
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed gF31606">
                          <!---->
                          <div class="column large-12 eCBFB78">
                            <div>
                              <!---->
                            </div>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 490px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_large.png?1694017832263 490w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_large_2x.png?1694017832264 980w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 332px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_medium.png?1694017832261 332w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_medium_2x.png?1694017832265 664w"
                                  type="image/png"><img sizes="219px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_small_2x.png?1694017832261 438w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_small.png?1694017832267 219w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_small_2x.png?1694017832261"
                                  alt="iPhone 15 Pro displaying a scene from the series Foundation on AppleTV+"
                                  class="image n653236">
                              </picture>
                            </div>
                          </div>
                        </div>
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed wD02DF7">
                          <!---->
                          <div class="column large-6 vBF47D2">
                            <div>
                              <!---->
                            </div>
                            <div class="row large-display-bleed medium-display-bleed small-display-bleed jCE9A1A">
                              <!---->
                              <div class="column large-12 y85331B">
                                <div>
                                  <!---->
                                </div>
                                <p class="copy z590942 channel-custom-font-Bento-Eyebrow-1">Up to</p>
                                <p class="copy s9DB483 channel-custom-font-Bento-Headline-2">29 hours</p>
                                <p class="copy n6B5444 channel-custom-font-Bento-Eyebrow-1">video playback on iPhone&nbsp;15&nbsp;Pro&nbsp;Max.<span aria-hidden="true"
                                    style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span
                                    class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="column large-6 m18321D">
                            <div>
                              <!---->
                            </div>
                            <div class="row large-display-bleed medium-display-bleed small-display-bleed xA49679">
                              <!---->
                              <div class="column large-12 o2D9473">
                                <div>
                                  <!---->
                                </div>
                                <p class="copy kDFBAA3 channel-custom-font-Bento-Eyebrow-1">Up to</p>
                                <p class="copy hC98C08 channel-custom-font-Bento-Headline-2">23 hours</p>
                                <p class="copy s2AFCD9 channel-custom-font-Bento-Eyebrow-1">video playback on iPhone&nbsp;15&nbsp;Pro.<span aria-hidden="true"
                                    style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span
                                    class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bento-box large-hide medium-hide small-show yA89CEB">
                      <div class="bentobox-item r87A35E">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed u228862">
                          <!---->
                          <div class="column large-12 z728926">
                            <div>
                              <!---->
                            </div>
                            <p class="copy kF454C6 channel-custom-font-Bento-Headline-2">Battery life that’s positively Pro.</p>
                          </div>
                        </div>
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed r5F0217">
                          <!---->
                          <div class="column large-12 x434631">
                            <div>
                              <!---->
                            </div>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 490px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_large.png?1694017832263 490w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_large_2x.png?1694017832264 980w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 332px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_medium.png?1694017832261 332w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_medium_2x.png?1694017832265 664w"
                                  type="image/png"><img sizes="219px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_small_2x.png?1694017832261 438w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_small.png?1694017832267 219w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//battery_small_2x.png?1694017832261"
                                  alt="iPhone 15 Pro displaying a scene from the series Foundation on AppleTV+"
                                  class="image m7BBD70">
                              </picture>
                            </div>
                          </div>
                        </div>
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed bF181A2">
                          <!---->
                          <div class="column large-6 small-12 p8CF115">
                            <div>
                              <!---->
                            </div>
                            <div class="row large-display-bleed medium-display-bleed small-display-bleed q8113C8">
                              <!---->
                              <div class="column large-12 p73C124">
                                <div>
                                  <!---->
                                </div>
                                <p class="copy m2DB50B channel-custom-font-Bento-Eyebrow-1">Up to <span
                                    style="color: #30d158">29 hours</span> video playback on iPhone&nbsp;15&nbsp;Pro&nbsp;Max.<span aria-hidden="true"
                                    style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span
                                    class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="column large-6 small-12 rC8E1DD">
                            <div>
                              <!---->
                            </div>
                            <div class="row large-display-bleed medium-display-bleed small-display-bleed d19B19B">
                              <!---->
                              <div class="column large-12 m5533DD">
                                <div>
                                  <!---->
                                </div>
                                <p class="copy dBFD286 channel-custom-font-Bento-Eyebrow-1">Up to <span
                                    style="color: #30d158">23 hours</span> video playback on iPhone&nbsp;15&nbsp;Pro.<span aria-hidden="true"
                                    style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span
                                    class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li role="listitem" class="list-item f8E0E51">
                <div class="row h072635">
                  <!---->
                  <div class="column large-12 v3E2C2A">
                    <div>
                      <!---->
                    </div>
                    <div class="bento-box u40102B">
                      <div class="bentobox-item t09A8EF">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed c2049AE">
                          <!---->
                          <div class="column large-12 l261FF3">
                            <div>
                              <!---->
                            </div>
                            <p class="copy s5645AA channel-custom-font-Bento-Headline-3">Crash Detection.</p>
                            <p class="copy h9A0C07 channel-custom-font-Bento-Eyebrow-1">iPhone&nbsp;15 can call for help in a severe car crash.<span
                                aria-hidden="true"
                                style="top: -0.45em; position: relative; font-size: .45em;vertical-align: top;">◊</span><span
                                class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span>
                            </p>
                          </div>
                        </div>
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed uC15C63">
                          <!---->
                          <div class="column large-12 k5E7C87">
                            <div>
                              <!---->
                            </div>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 647px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//roadside_assistance_large_2x.png?1694017832262 1294w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//roadside_assistance_large.png?1694017832265 647w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 336px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//roadside_assistance_medium_2x.png?1694017832268 672w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//roadside_assistance_medium.png?1694017832268 336w"
                                  type="image/png"><img sizes="320px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//roadside_assistance_small_2x.png?1694017832261 640w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//roadside_assistance_small.png?1694017832263 320w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//roadside_assistance_small_2x.png?1694017832261"
                                  class="image e729849">
                              </picture>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li role="listitem" class="list-item t548A70">
                <div class="row mCF58FA">
                  <!---->
                  <div class="column large-12 lF3E4A1">
                    <div>
                      <!---->
                    </div>
                    <div class="bento-box t477F67">
                      <div class="bentobox-item i77D6C6">
                        <!---->
                        <div class="row large-display-bleed medium-display-bleed small-display-bleed p81A921">
                          <!---->
                          <div class="column large-12 iBE7F22">
                            <div>
                              <!---->
                            </div>
                            <div>
                              <picture>
                                <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 63px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//flex_icon_environment_large_2x.png?1694017832263 126w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//flex_icon_environment_large.png?1694017832264 63w"
                                  type="image/png">
                                <source media="(min-width: 735px)" sizes="(min-width: 735px) 63px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//flex_icon_environment_medium.png?1694017832263 63w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//flex_icon_environment_medium_2x.png?1694017832269 126w"
                                  type="image/png"><img sizes="63px"
                                  srcset="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//flex_icon_environment_small.png?1694017832261 63w,https://www.istore.co.za/media/wysiwyg/iPhone15Pro//flex_icon_environment_small_2x.png?1694017832267 126w"
                                  src="https://www.istore.co.za/media/wysiwyg/iPhone15Pro//flex_icon_environment_small.png?1694017832261" 
                                  class="image x4DD521">
                              </picture>
                            </div>
                            <p class="copy a2AC3C7 channel-custom-font-Bento-Headline-4">The internal<br>structural frame of iPhone&nbsp;15&nbsp;Pro has 100% recycled aluminum.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--END SECTION | PAGE TILES-->
</div>

  <!--BEGIN > SCRIPTS:BASE -->
  <script
    type="text/javascript">"use strict"; const reorderDOM = { selectorEls: null, headerEl: null, capturedEls: null, capturedElsQuery: null, clonedEls: [], cOrder: null, cMax: null, useStatic: null, selectorElsQuery: null, staticEl: null, staticElQuery: null, addListeners() { window.addEventListener("channel:reorder-dom", e => { if (this.useStatic = e.detail.useStatic, this.cOrder = e.detail.order, this.cMax = e.detail.max, this.updateElements(), void 0 !== e.detail.selectorIndex) { document.querySelectorAll(this.selectorElsQuery).item(e.detail.selectorIndex).focus() } }) }, updateElements() { !this.useStatic && this.updateSelectors(), !this.useStatic && this.updateHeadersAX(), !this.useStatic && this.updateRows(), this.useStatic && this.updateStatic() }, arrayFromNodeList(e) { const t = []; return e.forEach(e => { t.push(e) }), t }, updateStatic() { this.clonedEls.forEach((e, t) => { const i = this.capturedEls[t], r = e.cloneNode(!0), n = r.querySelector("[role=rowheader]"), s = r.querySelector("[id=hidden-columnheader]"); let o = []; this.cOrder.forEach((e, t) => { const i = `[index="${e}"]`, n = r.querySelector(i).parentElement; o.push(n) }), o.reverse().forEach((e, t) => { e.setAttribute("added", !0), r.prepend(e) }); for (let e = 0; e < r.children.length; e++) { const t = r.children[e]; "rowheader" !== t.getAttribute("role") && "hidden-columnheader" !== t.getAttribute("id") && (t.style.order = "unset", this.toggleVisibility(t, e < this.cMax)) } s && r.prepend(s), r.prepend(n), r.setAttribute("added", !0), i.innerHTML = r.innerHTML }) }, updateHeadersAX() { let e = '<div role="columnheader">&nbsp;</div>'; document.querySelectorAll(this.selectorElsQuery).forEach((t, i) => { const r = t.querySelector("[selected=true]").innerText.trim(); "flex" === t.parentElement.parentElement.style.display && (e += `<div role="columnheader">${r}</div>`) }), this.headerEl.innerHTML = e }, updateSelectors() { document.querySelectorAll(this.selectorElsQuery).forEach((e, t) => { e.replaceWith(this.selectorEls[t]) }), this.cOrder.forEach((e, t) => { const i = this.selectorEls[t]; let r = 0; for (let t = 0; t < i.options.length; t++) { const n = i.options[t], s = Number(n.value) === e; s && (r = t), n.removeAttribute("selected"), n.setAttribute("selected", s), n.removeAttribute("aria-selected"), n.setAttribute("aria-selected", s) } i.selectedIndex = r }); for (var e = 0; e < this.selectorEls.length; e++) { const t = this.selectorEls[e], i = e < this.cMax; this.toggleVisibility(t.parentElement.parentElement, i) } }, updateRows() { this.clonedEls.forEach((e, t) => { const i = this.capturedEls[t], r = e.cloneNode(!0), n = r.querySelector("[role=rowheader]"), s = []; this.cOrder.forEach(e => { const t = `[index="${e}"]`, i = r.querySelector(t).parentElement; s.push(i) }), s.reverse().forEach(e => { r.prepend(e) }); for (let e = 0; e < r.children.length; e++) { const t = r.children[e]; "rowheader" !== t.getAttribute("role") && (t.style.order = "unset", this.toggleVisibility(t, e < this.cMax)) } r.prepend(n), i.innerHTML = r.innerHTML }) }, toggleVisibility(e, t) { e.style.visibility = t ? "visible" : "hidden", e.style.display = t ? "flex" : "none", e.style.order = "unset" }, init(e, t, i, r, n) { this.useStatic = n, this.capturedEls = document.querySelectorAll(e), this.capturedElsQuery = e, this.headerEl = document.querySelector(i), this.selectorEls = document.querySelectorAll(t), this.selectorElsQuery = t, this.staticElQuery = r, this.staticEl = this.useStatic && document.querySelector(this.staticElQuery).cloneNode(!0), this.useStatic = n, this.clonedEls = this.arrayFromNodeList(this.capturedEls), this.addListeners() } }, viewportManager = { nState: null, cState: null, init: function () { this.addListeners() }, addListeners: function () { const e = { small: window.matchMedia("(max-width: 734px)"), medium: window.matchMedia("(min-width: 735px) and (max-width: 1068px)"), large: window.matchMedia("(min-width: 1069px)") }; Object.keys(e).forEach(t => { const i = e[t]; "function" != typeof i.addEventListener ? i.addListener(() => { i.matches && this.viewportObserve(t) }) : i.addEventListener("change", () => { i.matches && this.viewportObserve(t) }), i.matches && this.viewportObserve(t) }) }, viewportObserve: function (e) { this.nState = e, this.cState !== this.nState && (this.cState = this.nState, this.dispatch(this.cState)) }, dispatch: function (e) { const t = new CustomEvent("channel:viewport-change", { detail: e }); window.dispatchEvent(t) } }, orientationManager = { orienation: null, init: function () { window.matchMedia("(orientation: portrait)").addEventListener("change", e => { e.matches ? this.orienation = "portrait" : this.orienation = "landscape", this.dispatch(this.orienation) }) }, dispatch: function (e) { const t = new CustomEvent("channel:orientation-change", { detail: e }); window.dispatchEvent(t) } }, selectorManager = { init: function (e, t) { const i = document.querySelectorAll(e); i.forEach((e, t) => { e.addEventListener("change", () => { const r = e.selectedIndex, n = e.value, s = Number(e.options[r].getAttribute("value")); this.dispatch({ elIndex: t, selectedIndex: s, value: n, selectorEls: i }), e.focus() }) }) }, dispatch: function (e) { const t = new CustomEvent("channel:pre-user-select", { detail: e }); window.dispatchEvent(t) } }, buyButtonManager = { buyButtonQuery: null, init: function (e) { this.buyButtonQuery = e, this.addListeners(), this.attachButtonListeners() }, addListeners: function () { window.addEventListener("channel:reorder-dom", () => { this.attachButtonListeners() }) }, attachButtonListeners: function () { document.querySelectorAll(this.buyButtonQuery).forEach(e => { e.addEventListener("click", t => { const i = 0 === t.screenX && 0 === t.screenY ? "Keyboard Interaction" : "Mouse Click"; this.dispatch({ productName: e.id, eventSource: i }) }) }) }, dispatch: function (e) { const t = new CustomEvent("channel:buy-button-click", { detail: e }); window.dispatchEvent(t) } }, dataManager = { order: null, viewportKey: null, viewportOrder: null, viewportMax: null, init: function (e, t) { this.order = e, this.useStatic = t, this.addListeners() }, viewportChange(e) { this.viewportKey = e, this.viewportOrder = this.order[this.viewportKey], this.viewportMax = this.order.max[this.viewportKey], this.dispatch({ order: this.viewportOrder, max: this.viewportMax, useStatic: this.useStatic }) }, blurSelects(e) { document.querySelectorAll(e).forEach(e => { e.blur() }) }, flattenOrders() { this.viewportOrder = this.order[this.viewportKey], this.viewportMax = this.order.max[this.viewportKey], ["small", "medium", "large"].forEach(e => { this.order[e] = this.viewportOrder }) }, getLineupInfo(e, t) { const i = {}; return e.forEach((e, r) => { i[r] = { columnIndex: r, deviceName: e.options[e.selectedIndex].text, hasChanged: r === t } }), i }, userSelect(e) { const { elIndex: t, selectedIndex: i } = e, r = this.viewportOrder[t], n = this.viewportOrder.find(e => e === i), s = this.viewportOrder.indexOf(n); void 0 !== n ? (this.viewportOrder[s] = r, this.viewportOrder[t] = n) : this.viewportOrder[t] = i, this.flattenOrders(), this.dispatch({ order: this.viewportOrder, max: this.viewportMax, useStatic: this.useStatic, selectorIndex: t }), e.deviceLineup = this.getLineupInfo(e.selectorEls, t), delete e.selectorEls; const o = Object.keys(e.deviceLineup).slice(0, this.viewportMax).reduce((t, i) => (t[i] = e.deviceLineup[i], t), {}); this.dispatchPostUserSelect({ deviceLineup: o }) }, addListeners: function () { window.addEventListener("channel:pre-user-select", e => { this.userSelect(e.detail) }), window.addEventListener("channel:user-refresh", e => { this.dispatch({ order: this.viewportOrder, max: this.viewportMax, useStatic: this.useStatic }) }), window.addEventListener("channel:viewport-change", e => { this.viewportChange(e.detail), this.blurSelects(this.selectorElsQuery) }), window.addEventListener("change:orientation-change", () => { this.blurSelects(this.selectorElsQuery) }) }, dispatch: function (e) { const t = new CustomEvent("channel:reorder-dom", { detail: e }); window.dispatchEvent(t) }, dispatchPostUserSelect: function (e) { const t = new CustomEvent("channel:user-select", { detail: e }); window.dispatchEvent(t) } }, channelCompare = { inited: !1, init: function (e = null) { if (this.inited) return; let t; if (this.isDev = window.location.host.indexOf("127.0.0.1") > -1, e) t = e; else if (!e) { const e = document.querySelector("[data-iphone-15-pro-compare]"); if (!e) return void console.warn("channelCompare: element[data-iphone-15-pro-compare not found]"); try { const i = e.getAttribute("data-iphone-15-pro-compare"); t = JSON.parse(i) } catch (e) { return void console.warn("channelCompare: error parsing JSON", e) } } if (t.isConfigurableCompare) { let e = { large: [], medium: [], small: [] }, i = []; const r = document.querySelector("[data-compare-lineup]"); if (r) try { const e = r.getAttribute("data-compare-lineup"), t = JSON.parse(null !== e && void 0 !== e ? e : "{}"); t["apple-compare"] && (i = t["apple-compare"]) } catch (e) { return void console.warn("channelCompare: error parsing JSON", e) } const n = new URL(window.location.toLocaleString()).searchParams; n.get("apple-compare") && (i = n.get("apple-compare").split(",")), Object.keys(e).forEach(t => { var r; e[t] = [...new Set(null !== (r = null === i || void 0 === i ? void 0 : i.map(e => Number(e) - 1)) && void 0 !== r ? r : [])].filter(e => Number(e) >= 0) }), t.order = this.orderOverwrite(t.order, e) } const i = t.order, r = t.headerEl, n = t.selectorEls, s = t.swapEls, o = t.staticEl, a = t.useStatic; reorderDOM.init(s, n, r, o, a), !a && selectorManager.init(n), buyButtonManager.init(".compare-button"), dataManager.init(i, a), viewportManager.init(), orientationManager.init(), this.inited = !0 }, orderOverwrite: function (e, t) { const i = Object.assign({}, e); return Object.keys(t).forEach(e => { const r = i[e].filter(i => !t[e].includes(i)), n = [...t[e], ...r].slice(0, 5); i[e] = n }), i } }; window.addEventListener("pageshow", e => { const { persisted: t } = e; if (t) window.addEventListener("scroll", () => { const e = new CustomEvent("channel:user-refresh"); window.dispatchEvent(e) }); else { channelCompare.init(), document.querySelector(".channel-compare").classList.remove("channel-compare--hidden") } });</script>
  <!--END > SCRIPTS:BASE -->

  </body>