<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="version:build" content="0.0.10">
    <meta version="undefined" content="build:version">

  <link rel="stylesheet" href="{{ 'iphone-15.css' | asset_url }}">
</head>
  
  <body>
<div class="channel-html">
      <!--BEGIN SECTION | HERO IMAGE-->
      <div class="section b5CA14F">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed small-display-bleed m13DC08">
            <!---->
            <div class="column large-12 j79E839">
              <div>
                <!---->
              </div>
              <div class="row large-display-bleed medium-display-bleed small-display-bleed pC2061B">
                <!---->
                <div class="column large-12 xCF8C01">
                  <div>
                    <!---->
                  </div>
                  <h2>
                    <picture>
                      <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 144px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/hero_logo_large_2x.png?1694035518948 288w,https://www.istore.co.za/media/wysiwyg/iPhone15/hero_logo_large.png?1694035518949 144w" type="image/png">
                      <source media="(min-width: 735px)" sizes="(min-width: 735px) 100px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/hero_logo_medium.png?1694035518948 100w,https://www.istore.co.za/media/wysiwyg/iPhone15/hero_logo_medium_2x.png?1694035518951 200w" type="image/png"><img sizes="85px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/hero_logo_small.png?1694035518951 85w,https://www.istore.co.za/media/wysiwyg/iPhone15/hero_logo_small_2x.png?1694035518952 170w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/hero_logo_small.png?1694035518951" alt="iPhone 15" class="image vFE1F26"></picture>
                  </h2>
                </div>
              </div>
              <div>
                <picture>
                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 2154px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/hero_large_2x.png?1694035518949 4308w,https://www.istore.co.za/media/wysiwyg/iPhone15/hero_large.png?1694035518952 2154w" type="image/png">
                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 1068px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/hero_medium.png?1694035518949 1068w,https://www.istore.co.za/media/wysiwyg/iPhone15/hero_medium_2x.png?1694035518951 2136w" type="image/png"><img sizes="734px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/hero_small_2x.png?1694035518950 1468w,https://www.istore.co.za/media/wysiwyg/iPhone15/hero_small.png?1694035518950 734w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/hero_small_2x.png?1694035518950" alt="Close up of raised advanced camera system" class="image zBF8976"></picture>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END SECTION | HERO IMAGE-->
      <!--BEGIN SECTION | HERO MESSAGE & BUTTON-->
      <div class="section vBB2F39">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed small-display-bleed wAD7868">
            <!---->
            <div class="column large-12 dBE875E">
              <div>
                <!---->
              </div>
              <p class="copy helvetica-neue zF31DEE channel-custom-font-Partner-Message-Copy">Coming soon</p>
              <!--BEGIN CHANNEL-BUTTON-->
              {% comment %}<a href="#" aria-label="Buy now, iPhone 15" class="button button-channel button-base qE6ABE1" style="--focus-color: rgba(0, 125, 250, 0.6);"> Buy now </a>{% endcomment %}
              <!--END CHANNEL-BUTTON-->
            </div>
          </div>
        </div>
      </div>
      <!--END SECTION | HERO MESSAGE & BUTTON-->
      <!--BEGIN SECTION | TILES - UPDATED-->
      <div class="section theme-light sF27CE5">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed small-display-bleed m61CC90">
            <!---->
            <div class="column large-12 d3B46D1">
              <div>
                <!---->
              </div>
              <ul role="list" aria-label="iPhone 15 feature highlights" class="list e7FD490">
                <li role="listitem" class="list-item wD3B542">
                  <div class="row qA74305">
                    <!---->
                    <div class="column large-12 e5B3A89">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box c18AD1E">
                        <div class="bentobox-item l66CFE4">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed p9C7A31">
                            <!---->
                            <div class="column large-5 small-12 i194955">
                              <div>
                                <!---->
                              </div>
                              <p class="copy iC00CB1 channel-custom-font-Bento-Headline-1">Dynamic&nbsp;Island stays on top of it all.</p>
                            </div>
                            <div class="column o1A1D3B">
                              <div>
                                <!---->
                              </div>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 355px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/dynamic_island_large_2x.png?1694035518949 710w,https://www.istore.co.za/media/wysiwyg/iPhone15/dynamic_island_large.png?1694035518950 355w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 262px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/dynamic_island_medium.png?1694035518949 262w,https://www.istore.co.za/media/wysiwyg/iPhone15/dynamic_island_medium_2x.png?1694035518949 524w" type="image/png"><img sizes="234px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/dynamic_island_small.png?1694035518948 234w,https://www.istore.co.za/media/wysiwyg/iPhone15/dynamic_island_small_2x.png?1694035518950 468w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/dynamic_island_small.png?1694035518948" alt="iPhone 15 held in hand, Dynamic Island showing ride share tracking information." class="image p04F9B2"></picture>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item b56406C">
                  <div class="row kAA6F81">
                    <!---->
                    <div class="column large-12 m836EBD">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box gA35BFD">
                        <div class="bentobox-item d0FACA1">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed h7F4035">
                            <!---->
                            <div class="column large-12 wD8FBFF">
                              <div>
                                <!---->
                              </div>
                              <p class="copy b77D38F channel-custom-font-Bento-Headline-2">Durable color-infused glass and aluminum design.</p>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 370px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/color_large_2x.png?1694035518949 740w,https://www.istore.co.za/media/wysiwyg/iPhone15/color_large.png?1694035518950 370w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 280px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/color_medium_2x.png?1694035518947 560w,https://www.istore.co.za/media/wysiwyg/iPhone15/color_medium.png?1694035518948 280w" type="image/png"><img sizes="236px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/color_small.png?1694035518948 236w,https://www.istore.co.za/media/wysiwyg/iPhone15/color_small_2x.png?1694035518952 472w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/color_small.png?1694035518948" alt="iPhone 15, back view showing advanced camera system and color-infused glass in all finishes: Black, Blue, Green, Yellow, Pink. " class="image c1C2AE8"></picture>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item a43672E">
                  <div class="row large-show medium-hide small-hide v80E5F1">
                    <!---->
                    <div class="column large-12 jB0A69E">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box k055F95">
                        <div class="bentobox-item sC0EF6A">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed w09FAB6">
                            <!---->
                            <div class="column large-4 rF151EA">
                              <div>
                                <!---->
                              </div>
                              <p class="copy a7A2A38 channel-custom-font-Bento-Headline-2">6.7″</p>
                              <p class="copy b81E1AC channel-custom-font-Bento-Eyebrow-1">iPhone&nbsp;15&nbsp;Plus<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                            </div>
                            <div class="column bAF8939">
                              <div>
                                <!---->
                              </div>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 164px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_large_2x.png?1694035518949 328w,https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_large.png?1694035518951 164w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 152px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_medium.png?1694035518951 152w,https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_medium_2x.png?1694035518952 304w" type="image/png"><img sizes="148px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_small.png?1694035518947 148w,https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_small_2x.png?1694035518948 296w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_small.png?1694035518947" alt="6.7-inch iPhone 15 Plus and 6.1-inch iPhone 15 shown together for size comparison." class="image eE2EA45"></picture>
                              </div>
                            </div>
                            <div class="column large-3 y224EE9">
                              <div>
                                <!---->
                              </div>
                              <p class="copy y11EBAC channel-custom-font-Bento-Headline-2">6.1″</p>
                              <p class="copy xD0894D channel-custom-font-Bento-Eyebrow-1">iPhone&nbsp;15<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row large-hide medium-show small-show xB8A59F">
                    <!---->
                    <div class="column large-12 h69CCF0">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box m1C18EC">
                        <div class="bentobox-item oCCE7C0">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed k60C7E5">
                            <!---->
                            <div class="column large-4 medium-5 small-5 s04BADA">
                              <div>
                                <!---->
                              </div>
                              <p class="copy k74B521 channel-custom-font-Bento-Headline-2">6.7″</p>
                              <p class="copy oFEEA75 channel-custom-font-Bento-Eyebrow-1">iPhone&nbsp;15&nbsp;Plus<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                            </div>
                            <div class="column large-3 small-4 fC261F3">
                              <div>
                                <!---->
                              </div>
                              <p class="copy cE9701A channel-custom-font-Bento-Headline-2">6.1″</p>
                              <p class="copy u28E38B channel-custom-font-Bento-Eyebrow-1">iPhone&nbsp;15<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                            </div>
                            <div class="column u0A7EF0">
                              <div>
                                <!---->
                              </div>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 164px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_large_2x.png?1694035518949 328w,https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_large.png?1694035518951 164w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 152px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_medium.png?1694035518951 152w,https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_medium_2x.png?1694035518952 304w" type="image/png"><img sizes="148px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_small.png?1694035518947 148w,https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_small_2x.png?1694035518948 296w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/display_size_small.png?1694035518947" alt="6.7-inch iPhone 15 Plus and 6.1-inch iPhone 15 shown together for size comparison." class="image w6C82D1"></picture>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item c19953B">
                  <div class="row p7FBC49">
                    <!---->
                    <div class="column large-12 e1F2349">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box p011EF9">
                        <div class="bentobox-item l0DAA65">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed vA85667">
                            <!---->
                            <div class="column large-12 eE1820B">
                              <div>
                                <!---->
                              </div>
                              <p class="copy aBA44D2 channel-custom-font-Bento-Eyebrow-1">48MP Main camera </p>
                              <p class="copy j9FEF96 channel-custom-font-Bento-Headline-2">Super-high-resolution photos. 2x Telephoto. </p>
                            </div>
                          </div>
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed d11D7B4">
                            <!---->
                            <div class="column large-12 zE2DF21">
                              <div>
                                <!---->
                              </div>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 647px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/camera_large_2x.png?1694035518948 1294w,https://www.istore.co.za/media/wysiwyg/iPhone15/camera_large.png?1694035518950 647w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 336px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/camera_medium.png?1694035518948 336w,https://www.istore.co.za/media/wysiwyg/iPhone15/camera_medium_2x.png?1694035518948 672w" type="image/png"><img sizes="320px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/camera_small.png?1694035518949 320w,https://www.istore.co.za/media/wysiwyg/iPhone15/camera_small_2x.png?1694035518951 640w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/camera_small.png?1694035518949" alt="iPhone 15 with 48 megapixel main camera showing 2x zoom" class="image d3E28F3"></picture>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item a88DE6D">
                  <div class="row m902ACA">
                    <!---->
                    <div class="column large-12 uA7ABDF">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box d4BBB33">
                        <div class="bentobox-item rB2C41A">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed q0AE0DD">
                            <!---->
                            <div class="column large-12 n021344">
                              <div>
                                <!---->
                              </div>
                              <p class="copy xB328C9 channel-custom-font-Bento-Headline-2">Next-generation portraits. </p>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 268px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/portrait_mode_large_2x.png?1694035518948 536w,https://www.istore.co.za/media/wysiwyg/iPhone15/portrait_mode_large.png?1694035518950 268w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 262px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/portrait_mode_medium_2x.png?1694035518949 524w,https://www.istore.co.za/media/wysiwyg/iPhone15/portrait_mode_medium.png?1694035518950 262w" type="image/png"><img sizes="261px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/portrait_mode_small_2x.png?1694035518951 522w,https://www.istore.co.za/media/wysiwyg/iPhone15/portrait_mode_small.png?1694035518951 261w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/portrait_mode_small_2x.png?1694035518951" alt="iPhone 15 showing potrait picture mode" class="image gC8E9DF"></picture>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item uE3DC6F">
                  <div class="row aF22AD9">
                    <!---->
                    <div class="column large-12 i4AD975">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box large-show medium-show small-hide w3DFF22">
                        <div class="bentobox-item q267A95">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed s15CCD8">
                            <!---->
                            <div class="column large-12 s79EE76">
                              <div>
                                <!---->
                              </div>
                              <p class="copy m08F0B3 channel-custom-font-Bento-Headline-2">All-day battery life.<br>For all the things you want to keep doing.</p>
                            </div>
                          </div>
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed w00C464">
                            <!---->
                            <div class="column large-12 q08F4A5">
                              <div>
                                <!---->
                              </div>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 480px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/battery_large.png?1694035518950 480w,https://www.istore.co.za/media/wysiwyg/iPhone15/battery_large_2x.png?1694035518952 960w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 319px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/battery_medium.png?1694035518952 319w,https://www.istore.co.za/media/wysiwyg/iPhone15/battery_medium_2x.png?1694035518952 638w" type="image/png"><img sizes="216px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/battery_small_2x.png?1694035518951 432w,https://www.istore.co.za/media/wysiwyg/iPhone15/battery_small.png?1694035518952 216w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/battery_small_2x.png?1694035518951" alt="iPhone 15 playing Apple TV+ Hijack series" class="image i63A8E2"></picture>
                              </div>
                            </div>
                          </div>
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed m1ECBCD">
                            <!---->
                            <div class="column large-6 k8A6979">
                              <div>
                                <!---->
                              </div>
                              <div class="row large-display-bleed medium-display-bleed small-display-bleed w5B8E45">
                                <!---->
                                <div class="column large-12 k7B6F8C">
                                  <div>
                                    <!---->
                                  </div>
                                  <p class="copy z510B8F channel-custom-font-Bento-Eyebrow-1">Up to</p>
                                  <p class="copy w2E4521 channel-custom-font-Bento-Headline-2">26 hours</p>
                                  <p class="copy g69D951 channel-custom-font-Bento-Eyebrow-1">video playback<br>on&nbsp;iPhone&nbsp;15&nbsp;Plus.<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                                </div>
                              </div>
                            </div>
                            <div class="column large-6 x5A488A">
                              <div>
                                <!---->
                              </div>
                              <div class="row large-display-bleed medium-display-bleed small-display-bleed r04949E">
                                <!---->
                                <div class="column large-12 kB38E06">
                                  <div>
                                    <!---->
                                  </div>
                                  <p class="copy i9FA1E2 channel-custom-font-Bento-Eyebrow-1">Up to</p>
                                  <p class="copy tD70F39 channel-custom-font-Bento-Headline-2">20 hours</p>
                                  <p class="copy s2BD332 channel-custom-font-Bento-Eyebrow-1">video playback<br>on&nbsp;iPhone&nbsp;15.<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="bento-box large-hide medium-hide small-show vC93341">
                        <div class="bentobox-item t76A23D">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed pA5550D">
                            <!---->
                            <div class="column large-12 n6352B3">
                              <div>
                                <!---->
                              </div>
                              <p class="copy aE69ECC channel-custom-font-Bento-Headline-2">All-day battery life.<br>For all the things you want to keep doing.</p>
                            </div>
                          </div>
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed xB2FE27">
                            <!---->
                            <div class="column large-12 v0F1660">
                              <div>
                                <!---->
                              </div>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 480px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/battery_large.png?1694035518950 480w,https://www.istore.co.za/media/wysiwyg/iPhone15/battery_large_2x.png?1694035518952 960w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 319px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/battery_medium.png?1694035518952 319w,https://www.istore.co.za/media/wysiwyg/iPhone15/battery_medium_2x.png?1694035518952 638w" type="image/png"><img sizes="216px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/battery_small_2x.png?1694035518951 432w,https://www.istore.co.za/media/wysiwyg/iPhone15/battery_small.png?1694035518952 216w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/battery_small_2x.png?1694035518951" alt="iPhone 15 playing Apple TV+ Hijack series" class="image j0B8522"></picture>
                              </div>
                            </div>
                          </div>
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed cA1DE13">
                            <!---->
                            <div class="column large-6 small-12 xBDDAD8">
                              <div>
                                <!---->
                              </div>
                              <div class="row large-display-bleed medium-display-bleed small-display-bleed a73B560">
                                <!---->
                                <div class="column large-12 f41ADEA">
                                  <div>
                                    <!---->
                                  </div>
                                  <p class="copy sE2C56E channel-custom-font-Bento-Eyebrow-1">Up to <span style="color: #1d1d1f">26 hours</span> video playback<br> on&nbsp;iPhone&nbsp;15&nbsp;Plus.<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                                </div>
                              </div>
                            </div>
                            <div class="column large-6 small-12 q770E02">
                              <div>
                                <!---->
                              </div>
                              <div class="row large-display-bleed medium-display-bleed small-display-bleed sAAC52A">
                                <!---->
                                <div class="column large-12 aC6ACB8">
                                  <div>
                                    <!---->
                                  </div>
                                  <p class="copy p7D9634 channel-custom-font-Bento-Eyebrow-1">Up to <span style="color: #1d1d1f">20 hours</span> video playback on&nbsp;iPhone&nbsp;15.<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item fE02591">
                  <div class="row y5F9418">
                    <!---->
                    <div class="column large-12 g42856E">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box r0C890F">
                        <div class="bentobox-item nDD7951">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed g4D996F">
                            <!---->
                            <div class="column large-12 i5F9B03">
                              <div>
                                <!---->
                              </div>
                              <p class="copy n946661 channel-custom-font-Bento-Eyebrow-1">A16&nbsp;Bionic chip</p>
                              <p class="copy i12BC77 channel-custom-font-Bento-Headline-2">A Pro-proven powerhouse.</p>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 252px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/a16_bionic_large.png?1694035518949 252w,https://www.istore.co.za/media/wysiwyg/iPhone15/a16_bionic_large_2x.png?1694035518951 504w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 235px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/a16_bionic_medium.png?1694035518950 235w,https://www.istore.co.za/media/wysiwyg/iPhone15/a16_bionic_medium_2x.png?1694035518950 470w" type="image/png"><img sizes="190px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/a16_bionic_small_2x.png?1694035518950 380w,https://www.istore.co.za/media/wysiwyg/iPhone15/a16_bionic_small.png?1694035518951 190w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/a16_bionic_small_2x.png?1694035518950" alt="iPhone 15 with A16 Bionic chip" class="image b3234CF"></picture>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item m201EE0">
                  <div class="row dE6FB34">
                    <!---->
                    <div class="column large-12 pD8C5D7">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box n05EE16">
                        <div class="bentobox-item p912B55">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed hF1F818">
                            <!---->
                            <div class="column large-6 medium-12 r9D7766">
                              <div>
                                <!---->
                              </div>
                              <p class="copy rDFF10D channel-custom-font-Bento-Headline-2">Charging as easy as USB-C.<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: .45em;vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                            </div>
                          </div>
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed p7288A1">
                            <!---->
                            <div class="column large-12 l94A7A0">
                              <div>
                                <!---->
                              </div>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 526px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/usb-c_large_2x.png?1694035518948 1052w,https://www.istore.co.za/media/wysiwyg/iPhone15/usb-c_large.png?1694035518948 526w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 292px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/usb-c_medium_2x.png?1694035518947 584w,https://www.istore.co.za/media/wysiwyg/iPhone15/usb-c_medium.png?1694035518948 292w" type="image/png"><img sizes="291px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/usb-c_small_2x.png?1694035518950 582w,https://www.istore.co.za/media/wysiwyg/iPhone15/usb-c_small.png?1694035518951 291w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/usb-c_small_2x.png?1694035518950" alt="iPhone 15 with USB-C connector showing same connector can be used with AirPods Pro and iPad" class="image hFFCCC9"></picture>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item k7600D7">
                  <div class="row p62BCA6">
                    <!---->
                    <div class="column large-12 u4F6C1F">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box z408100">
                        <div class="bentobox-item pFCCBEC">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed yE5C88B">
                            <!---->
                            <div class="column large-12 j2DF77A">
                              <div>
                                <!---->
                              </div>
                              <p class="copy aA37C31 channel-custom-font-Bento-Headline-2">Crash Detection.</p>
                              <p class="copy gD843FA channel-custom-font-Bento-Eyebrow-1">iPhone&nbsp;15 can call for help in a severe car crash.<span aria-hidden="true" style="top: -0.45em; position: relative; font-size: 10px; vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p>
                            </div>
                          </div>
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed a336718">
                            <!---->
                            <div class="column large-12 g2113F9">
                              <div>
                                <!---->
                              </div>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 647px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/roadside_assistance_large_2x.png?1694035518948 1294w,https://www.istore.co.za/media/wysiwyg/iPhone15/roadside_assistance_large.png?1694035518950 647w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 336px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/roadside_assistance_medium.png?1694035518951 336w,https://www.istore.co.za/media/wysiwyg/iPhone15/roadside_assistance_medium_2x.png?1694035518952 672w" type="image/png"><img sizes="320px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/roadside_assistance_small_2x.png?1694035518949 640w,https://www.istore.co.za/media/wysiwyg/iPhone15/roadside_assistance_small.png?1694035518952 320w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/roadside_assistance_small_2x.png?1694035518949" class="image y42C4C0"></picture>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item t2ADF3C">
                  <div class="row uFF816F">
                    <!---->
                    <div class="column large-12 bE8E0C4">
                      <div>
                        <!---->
                      </div>
                      <div class="bento-box l6496A4">
                        <div class="bentobox-item c785629">
                          <!---->
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed eF068BF">
                            <!---->
                            <div class="column large-12 h5A3E2B">
                              <div>
                                <!---->
                              </div>
                              <div>
                                <picture>
                                  <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 63px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_environment_large_2x.png?1694035518950 126w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_environment_large.png?1694035518951 63w" type="image/png">
                                  <source media="(min-width: 735px)" sizes="(min-width: 735px) 63px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_environment_medium_2x.png?1694035518949 126w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_environment_medium.png?1694035518951 63w" type="image/png"><img sizes="63px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_environment_small.png?1694035518949 63w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_environment_small_2x.png?1694035518949 126w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_environment_small.png?1694035518949" alt=" " class="image b714A76"></picture>
                              </div>
                              <p class="copy yF12521 channel-custom-font-Bento-Headline-3">The enclosure of iPhone&nbsp;15 has 75% recycled aluminum.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
      <!--END SECTION | TILES - UPDATED-->

       <!--BEGIN > SCRIPTS:BASE -->
    <script type="text/javascript">"use strict";const reorderDOM={selectorEls:null,headerEl:null,capturedEls:null,capturedElsQuery:null,clonedEls:[],cOrder:null,cMax:null,useStatic:null,selectorElsQuery:null,staticEl:null,staticElQuery:null,addListeners(){window.addEventListener("channel:reorder-dom",e=>{if(this.useStatic=e.detail.useStatic,this.cOrder=e.detail.order,this.cMax=e.detail.max,this.updateElements(),void 0!==e.detail.selectorIndex){document.querySelectorAll(this.selectorElsQuery).item(e.detail.selectorIndex).focus()}})},updateElements(){!this.useStatic&&this.updateSelectors(),!this.useStatic&&this.updateHeadersAX(),!this.useStatic&&this.updateRows(),this.useStatic&&this.updateStatic()},arrayFromNodeList(e){const t=[];return e.forEach(e=>{t.push(e)}),t},updateStatic(){this.clonedEls.forEach((e,t)=>{const i=this.capturedEls[t],r=e.cloneNode(!0),n=r.querySelector("[role=rowheader]"),s=r.querySelector("[id=hidden-columnheader]");let o=[];this.cOrder.forEach((e,t)=>{const i=`[index="${e}"]`,n=r.querySelector(i).parentElement;o.push(n)}),o.reverse().forEach((e,t)=>{e.setAttribute("added",!0),r.prepend(e)});for(let e=0;e<r.children.length;e++){const t=r.children[e];"rowheader"!==t.getAttribute("role")&&"hidden-columnheader"!==t.getAttribute("id")&&(t.style.order="unset",this.toggleVisibility(t,e<this.cMax))}s&&r.prepend(s),r.prepend(n),r.setAttribute("added",!0),i.innerHTML=r.innerHTML})},updateHeadersAX(){let e='<div role="columnheader">&nbsp;</div>';document.querySelectorAll(this.selectorElsQuery).forEach((t,i)=>{const r=t.querySelector("[selected=true]").innerText.trim();"flex"===t.parentElement.parentElement.style.display&&(e+=`<div role="columnheader">${r}</div>`)}),this.headerEl.innerHTML=e},updateSelectors(){document.querySelectorAll(this.selectorElsQuery).forEach((e,t)=>{e.replaceWith(this.selectorEls[t])}),this.cOrder.forEach((e,t)=>{const i=this.selectorEls[t];let r=0;for(let t=0;t<i.options.length;t++){const n=i.options[t],s=Number(n.value)===e;s&&(r=t),n.removeAttribute("selected"),n.setAttribute("selected",s),n.removeAttribute("aria-selected"),n.setAttribute("aria-selected",s)}i.selectedIndex=r});for(var e=0;e<this.selectorEls.length;e++){const t=this.selectorEls[e],i=e<this.cMax;this.toggleVisibility(t.parentElement.parentElement,i)}},updateRows(){this.clonedEls.forEach((e,t)=>{const i=this.capturedEls[t],r=e.cloneNode(!0),n=r.querySelector("[role=rowheader]"),s=[];this.cOrder.forEach(e=>{const t=`[index="${e}"]`,i=r.querySelector(t).parentElement;s.push(i)}),s.reverse().forEach(e=>{r.prepend(e)});for(let e=0;e<r.children.length;e++){const t=r.children[e];"rowheader"!==t.getAttribute("role")&&(t.style.order="unset",this.toggleVisibility(t,e<this.cMax))}r.prepend(n),i.innerHTML=r.innerHTML})},toggleVisibility(e,t){e.style.visibility=t?"visible":"hidden",e.style.display=t?"flex":"none",e.style.order="unset"},init(e,t,i,r,n){this.useStatic=n,this.capturedEls=document.querySelectorAll(e),this.capturedElsQuery=e,this.headerEl=document.querySelector(i),this.selectorEls=document.querySelectorAll(t),this.selectorElsQuery=t,this.staticElQuery=r,this.staticEl=this.useStatic&&document.querySelector(this.staticElQuery).cloneNode(!0),this.useStatic=n,this.clonedEls=this.arrayFromNodeList(this.capturedEls),this.addListeners()}},viewportManager={nState:null,cState:null,init:function(){this.addListeners()},addListeners:function(){const e={small:window.matchMedia("(max-width: 734px)"),medium:window.matchMedia("(min-width: 735px) and (max-width: 1068px)"),large:window.matchMedia("(min-width: 1069px)")};Object.keys(e).forEach(t=>{const i=e[t];"function"!=typeof i.addEventListener?i.addListener(()=>{i.matches&&this.viewportObserve(t)}):i.addEventListener("change",()=>{i.matches&&this.viewportObserve(t)}),i.matches&&this.viewportObserve(t)})},viewportObserve:function(e){this.nState=e,this.cState!==this.nState&&(this.cState=this.nState,this.dispatch(this.cState))},dispatch:function(e){const t=new CustomEvent("channel:viewport-change",{detail:e});window.dispatchEvent(t)}},orientationManager={orienation:null,init:function(){window.matchMedia("(orientation: portrait)").addEventListener("change",e=>{e.matches?this.orienation="portrait":this.orienation="landscape",this.dispatch(this.orienation)})},dispatch:function(e){const t=new CustomEvent("channel:orientation-change",{detail:e});window.dispatchEvent(t)}},selectorManager={init:function(e,t){const i=document.querySelectorAll(e);i.forEach((e,t)=>{e.addEventListener("change",()=>{const r=e.selectedIndex,n=e.value,s=Number(e.options[r].getAttribute("value"));this.dispatch({elIndex:t,selectedIndex:s,value:n,selectorEls:i}),e.focus()})})},dispatch:function(e){const t=new CustomEvent("channel:pre-user-select",{detail:e});window.dispatchEvent(t)}},buyButtonManager={buyButtonQuery:null,init:function(e){this.buyButtonQuery=e,this.addListeners(),this.attachButtonListeners()},addListeners:function(){window.addEventListener("channel:reorder-dom",()=>{this.attachButtonListeners()})},attachButtonListeners:function(){document.querySelectorAll(this.buyButtonQuery).forEach(e=>{e.addEventListener("click",t=>{const i=0===t.screenX&&0===t.screenY?"Keyboard Interaction":"Mouse Click";this.dispatch({productName:e.id,eventSource:i})})})},dispatch:function(e){const t=new CustomEvent("channel:buy-button-click",{detail:e});window.dispatchEvent(t)}},dataManager={order:null,viewportKey:null,viewportOrder:null,viewportMax:null,init:function(e,t){this.order=e,this.useStatic=t,this.addListeners()},viewportChange(e){this.viewportKey=e,this.viewportOrder=this.order[this.viewportKey],this.viewportMax=this.order.max[this.viewportKey],this.dispatch({order:this.viewportOrder,max:this.viewportMax,useStatic:this.useStatic})},blurSelects(e){document.querySelectorAll(e).forEach(e=>{e.blur()})},flattenOrders(){this.viewportOrder=this.order[this.viewportKey],this.viewportMax=this.order.max[this.viewportKey],["small","medium","large"].forEach(e=>{this.order[e]=this.viewportOrder})},getLineupInfo(e,t){const i={};return e.forEach((e,r)=>{i[r]={columnIndex:r,deviceName:e.options[e.selectedIndex].text,hasChanged:r===t}}),i},userSelect(e){const{elIndex:t,selectedIndex:i}=e,r=this.viewportOrder[t],n=this.viewportOrder.find(e=>e===i),s=this.viewportOrder.indexOf(n);void 0!==n?(this.viewportOrder[s]=r,this.viewportOrder[t]=n):this.viewportOrder[t]=i,this.flattenOrders(),this.dispatch({order:this.viewportOrder,max:this.viewportMax,useStatic:this.useStatic,selectorIndex:t}),e.deviceLineup=this.getLineupInfo(e.selectorEls,t),delete e.selectorEls;const o=Object.keys(e.deviceLineup).slice(0,this.viewportMax).reduce((t,i)=>(t[i]=e.deviceLineup[i],t),{});this.dispatchPostUserSelect({deviceLineup:o})},addListeners:function(){window.addEventListener("channel:pre-user-select",e=>{this.userSelect(e.detail)}),window.addEventListener("channel:user-refresh",e=>{this.dispatch({order:this.viewportOrder,max:this.viewportMax,useStatic:this.useStatic})}),window.addEventListener("channel:viewport-change",e=>{this.viewportChange(e.detail),this.blurSelects(this.selectorElsQuery)}),window.addEventListener("change:orientation-change",()=>{this.blurSelects(this.selectorElsQuery)})},dispatch:function(e){const t=new CustomEvent("channel:reorder-dom",{detail:e});window.dispatchEvent(t)},dispatchPostUserSelect:function(e){const t=new CustomEvent("channel:user-select",{detail:e});window.dispatchEvent(t)}},channelCompare={inited:!1,init:function(e=null){if(this.inited)return;let t;if(this.isDev=window.location.host.indexOf("127.0.0.1")>-1,e)t=e;else if(!e){const e=document.querySelector("[data-channel-html-compare]");if(!e)return void console.warn("channelCompare: element[data-channel-html-compare not found]");try{const i=e.getAttribute("data-channel-html-compare");t=JSON.parse(i)}catch(e){return void console.warn("channelCompare: error parsing JSON",e)}}if(t.isConfigurableCompare){let e={large:[],medium:[],small:[]},i=[];const r=document.querySelector("[data-compare-lineup]");if(r)try{const e=r.getAttribute("data-compare-lineup"),t=JSON.parse(null!==e&&void 0!==e?e:"{}");t["apple-compare"]&&(i=t["apple-compare"])}catch(e){return void console.warn("channelCompare: error parsing JSON",e)}const n=new URL(window.location.toLocaleString()).searchParams;n.get("apple-compare")&&(i=n.get("apple-compare").split(",")),Object.keys(e).forEach(t=>{var r;e[t]=[...new Set(null!==(r=null===i||void 0===i?void 0:i.map(e=>Number(e)-1))&&void 0!==r?r:[])].filter(e=>Number(e)>=0)}),t.order=this.orderOverwrite(t.order,e)}const i=t.order,r=t.headerEl,n=t.selectorEls,s=t.swapEls,o=t.staticEl,a=t.useStatic;reorderDOM.init(s,n,r,o,a),!a&&selectorManager.init(n),buyButtonManager.init(".compare-button"),dataManager.init(i,a),viewportManager.init(),orientationManager.init(),this.inited=!0},orderOverwrite:function(e,t){const i=Object.assign({},e);return Object.keys(t).forEach(e=>{const r=i[e].filter(i=>!t[e].includes(i)),n=[...t[e],...r].slice(0,5);i[e]=n}),i}};window.addEventListener("pageshow",e=>{const{persisted:t}=e;if(t)window.addEventListener("scroll",()=>{const e=new CustomEvent("channel:user-refresh");window.dispatchEvent(e)});else{channelCompare.init(),document.querySelector(".channel-compare").classList.remove("channel-compare--hidden")}});</script>
    <!--END > SCRIPTS:BASE -->
  </body>