<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="version:build" content="0.0.10">
    <meta version="undefined" content="build:version">

  <link rel="stylesheet" href="{{ 'iphone-15.css' | asset_url }}">
</head>
  
  <body>
<div class="channel-html">
 <!--BEGIN SECTION | FLEX 1 DESIGNED-->
      <div class="section b9B5EED">
        <div class="section-content">
          <div class="row large-display-bleed large-show medium-display-bleed medium-show small-display-bleed small-hide lE30C8A">
            <!---->
            <div class="column large-12 cCFF5E8">
              <div>
                <!---->
              </div>
              <div class="row large-display-bleed medium-display-bleed small-display-bleed k779EC9">
                <!---->
                <div class="column large-12 d8E8177">
                  <div>
                    <!---->
                  </div>
                  <h2 class="copy w7D1333 channel-custom-font-Section-Header-1">Designed to make a difference.</h2>
                </div>
              </div>
            </div>
            <div class="column large-12 d383901">
              <div>
                <!---->
              </div>
              <div class="bento-box b9C491E">
                <div class="bentobox-item m9718D9">
                  <!---->
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed i1A4EE6">
                    <!---->
                    <div class="column large-12 uB967B2">
                      <div>
                        <!---->
                      </div>
                      <div>
                        <picture>
                          <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 32px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_large.png?1694035518948 32w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_large_2x.png?1694035518952 64w" type="image/png">
                          <source media="(min-width: 735px)" sizes="(min-width: 735px) 32px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_medium.png?1694035518949 32w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_medium_2x.png?1694035518949 64w" type="image/png"><img sizes="32px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_small_2x.png?1694035518947 64w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_small.png?1694035518950 32w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_small_2x.png?1694035518947" alt=" " class="image b643F7E"></picture>
                      </div>
                      <div class="row large-display-bleed large-show medium-display-bleed medium-show small-display-bleed small-hide e863F8B">
                        <!---->
                        <h3 class="column large-12 u6C7167">
                          <div>
                            <!---->
                          </div>
                        </h3>
                        <h3 class="copy t7D1831 channel-custom-font-Flex-Headline-1">Privacy. That’s iPhone.</h3>
                      </div>
                      <p class="copy helvetica-neue t3EAD64 channel-custom-font-Flex-Body-Copy-1">From Passkeys to Privacy Reports to the Health app, iPhone helps keep you in control of what you share.</p>
                      <div>
                        <picture>
                          <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 312px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_large.png?1694035518950 312w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_large_2x.png?1694035518951 624w" type="image/png">
                          <source media="(min-width: 735px)" sizes="(min-width: 735px) 219px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_medium_2x.png?1694035518949 438w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_medium.png?1694035518950 219w" type="image/png"><img sizes="193px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_small.png?1694035518948 193w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_small_2x.png?1694035518950 386w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_small.png?1694035518948" alt="Person holding iPhone 15 in front of his face to conceal indentity" class="image n5E487F"></picture>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bentobox-item p301CC5">
                  <!---->
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed bD44416">
                    <!---->
                    <div class="column large-12 f7D42B3">
                      <div>
                        <!---->
                      </div>
                      <div>
                        <picture>
                          <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 42px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_large_2x.png?1694035518948 84w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_large.png?1694035518950 42w" type="image/png">
                          <source media="(min-width: 735px)" sizes="(min-width: 735px) 41px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_medium.png?1694035518952 41w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_medium_2x.png?1694035518952 82w" type="image/png"><img sizes="42px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_small.png?1694035518947 42w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_small_2x.png?1694035518951 84w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_small.png?1694035518947" alt=" " class="image g709B32"></picture>
                      </div>
                      <div class="row large-display-bleed medium-display-bleed small-display-bleed s6404DE">
                        <!---->
                        <div class="column large-12 e94A2F4">
                          <div>
                            <!---->
                          </div>
                          <h3 class="copy dE084DA channel-custom-font-Flex-Headline-1">iPhone for all.</h3>
                        </div>
                      </div>
                      <p class="copy helvetica-neue h449E19 channel-custom-font-Flex-Body-Copy-1">iPhone contains built-in accessibility features like Magnifier, VoiceOver, and Assistive Access, which helps users with cognitive disabilities tailor apps and experiences.</p>
                      <div>
                        <picture>
                          <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 303px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_large.png?1694035518948 303w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_large_2x.png?1694035518951 606w" type="image/png">
                          <source media="(min-width: 735px)" sizes="(min-width: 735px) 167px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_medium.png?1694035518949 167w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_medium_2x.png?1694035518952 334w" type="image/png"><img sizes="195px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_small_2x.png?1694035518948 390w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_small.png?1694035518949 195w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_small_2x.png?1694035518948" alt="iPhone 15 showing Voiceover feature announcing the picture information, A person with wavy black hair laughing" class="image r079657"></picture>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row large-display-bleed large-hide medium-display-bleed medium-hide small-display-bleed small-show cBDA79F">
            <!---->
            <div class="column large-12 m9CA061">
              <div>
                <!---->
              </div>
              <div class="row large-display-bleed medium-display-bleed small-display-bleed xB25558">
                <!---->
                <div class="column large-12 mA094FB">
                  <div>
                    <!---->
                  </div>
                  <h2 class="copy mC8C8E8 channel-custom-font-Section-Header-1">Designed to <br>make a difference.</h2>
                </div>
              </div>
            </div>
            <div class="column large-12 nF238E9">
              <div>
                <!---->
              </div>
              <div class="bento-box wCC7DF9">
                <div class="bentobox-item eD878D8">
                  <!---->
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed m490B12">
                    <!---->
                    <div class="column large-12 u41748F">
                      <div>
                        <!---->
                      </div>
                      <div>
                        <picture>
                          <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 32px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_large.png?1694035518948 32w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_large_2x.png?1694035518952 64w" type="image/png">
                          <source media="(min-width: 735px)" sizes="(min-width: 735px) 32px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_medium.png?1694035518949 32w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_medium_2x.png?1694035518949 64w" type="image/png"><img sizes="32px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_small_2x.png?1694035518947 64w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_small.png?1694035518950 32w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_apple_logo_lock_elevated_small_2x.png?1694035518947" alt=" " class="image z635494"></picture>
                      </div>
                      <div class="row large-display-bleed large-hide medium-display-bleed medium-hide small-display-bleed small-show cE3E1D2">
                        <!---->
                        <div class="column large-12 d08EB77">
                          <div>
                            <!---->
                          </div>
                          <h3 class="copy o4A6D79 channel-custom-font-Flex-Headline-1">Privacy. <br>That’s iPhone.</h3>
                        </div>
                      </div>
                      <p class="copy helvetica-neue oBB6824 channel-custom-font-Flex-Body-Copy-1">From Passkeys to Privacy Reports to the Health app, iPhone helps keep you in control of what you share.</p>
                      <div>
                        <picture>
                          <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 312px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_large.png?1694035518950 312w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_large_2x.png?1694035518951 624w" type="image/png">
                          <source media="(min-width: 735px)" sizes="(min-width: 735px) 219px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_medium_2x.png?1694035518949 438w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_medium.png?1694035518950 219w" type="image/png"><img sizes="193px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_small.png?1694035518948 193w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_small_2x.png?1694035518950 386w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_privacy_final_small.png?1694035518948" alt="Person holding iPhone 15 in front of his face to conceal indentity" class="image g294D2B"></picture>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row large-display-bleed medium-display-bleed small-display-bleed oEE7D16">
                <!---->
                <div class="column large-12 yADDED6">
                  <div>
                    <!---->
                  </div>
                  <div class="bento-box l051ACE">
                    <div class="bentobox-item v239C87">
                      <!---->
                      <div class="row large-display-bleed medium-display-bleed small-display-bleed iA91AFB">
                        <!---->
                        <div class="column large-12 m59F96E">
                          <div>
                            <!---->
                          </div>
                          <div>
                            <picture>
                              <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 42px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_large_2x.png?1694035518948 84w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_large.png?1694035518950 42w" type="image/png">
                              <source media="(min-width: 735px)" sizes="(min-width: 735px) 41px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_medium.png?1694035518952 41w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_medium_2x.png?1694035518952 82w" type="image/png"><img sizes="42px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_small.png?1694035518947 42w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_small_2x.png?1694035518951 84w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_accessibility_elevated_small.png?1694035518947" alt=" " class="image fE1DAE5"></picture>
                          </div>
                          <div class="row large-display-bleed medium-display-bleed small-display-bleed g9A2387">
                            <!---->
                            <div class="column large-12 s03618D">
                              <div>
                                <!---->
                              </div>
                              <h3 class="copy s487D09 channel-custom-font-Flex-Headline-1">iPhone for all.</h3>
                            </div>
                          </div>
                          <p class="copy helvetica-neue b6A8729 channel-custom-font-Flex-Body-Copy-1">iPhone contains built-in accessibility features like Magnifier, VoiceOver, and Assistive Access, which helps users with cognitive disabilities tailor apps and experiences.</p>
                          <div>
                            <picture>
                              <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 303px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_large.png?1694035518948 303w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_large_2x.png?1694035518951 606w" type="image/png">
                              <source media="(min-width: 735px)" sizes="(min-width: 735px) 167px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_medium.png?1694035518949 167w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_medium_2x.png?1694035518952 334w" type="image/png"><img sizes="195px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_small_2x.png?1694035518948 390w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_small.png?1694035518949 195w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_for_all_small_2x.png?1694035518948" alt="iPhone 15 showing Voiceover feature announcing the picture information, A person with wavy black hair laughing" class="image bFC6EBD"></picture>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END SECTION | FLEX 1 DESIGNED-->
      <!--BEGIN SECTION | FLEX 2 UPGRADE-->
      <div class="section r0C81FB">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed small-display-bleed vD326D1">
            <!---->
            <div class="column large-12 n5918AC">
              <div>
                <!---->
              </div>
              <h2 class="copy b7B9FC5 channel-custom-font-Section-Header-1">Easy to upgrade. Simple to switch.</h2>
            </div>
            <div class="column large-12 e38A13F">
              <div>
                <!---->
              </div>
              <div class="bento-box uCA4267">
                <div class="bentobox-item j03E809">
                  <!---->
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed aBB5E57">
                    <!---->
                    <div class="column large-12 t9DDA68">
                      <div>
                        <!---->
                      </div>
                      <div>
                        <picture>
                          <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 34px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_iphone_and_iphone_elevated_large.png?1694035518948 34w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_iphone_and_iphone_elevated_large_2x.png?1694035518951 68w" type="image/png">
                          <source media="(min-width: 735px)" sizes="(min-width: 735px) 34px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_iphone_and_iphone_elevated_medium.png?1694035518950 34w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_iphone_and_iphone_elevated_medium_2x.png?1694035518951 68w" type="image/png"><img sizes="34px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_iphone_and_iphone_elevated_small.png?1694035518949 34w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_iphone_and_iphone_elevated_small_2x.png?1694035518949 68w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_iphone_and_iphone_elevated_small.png?1694035518949" alt=" " class="image b492D8B"></picture>
                      </div>
                      <h3 class="copy i2E3AC5 channel-custom-font-Flex-Headline-1">Upgrading from another iPhone?</h3>
                      <p class="copy helvetica-neue cAA7177 channel-custom-font-Flex-Body-Copy-1">Just put your old iPhone next to your new one, and with a few taps you can transfer your data automatically.</p>
                    </div>
                  </div>
                </div>
                <div class="bentobox-item s4EEA84">
                  <!---->
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed z8EF03B">
                    <!---->
                    <div class="column large-12 uAB562C">
                      <div>
                        <!---->
                      </div>
                      <div>
                        <picture>
                          <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 49px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_ios_large.png?1694035518948 49w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_ios_large_2x.png?1694035518950 98w" type="image/png">
                          <source media="(min-width: 735px)" sizes="(min-width: 735px) 49px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_ios_medium_2x.png?1694035518951 98w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_ios_medium.png?1694035518952 49w" type="image/png"><img sizes="49px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_ios_small_2x.png?1694035518948 98w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_ios_small.png?1694035518949 49w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_icon_ios_small_2x.png?1694035518948" alt=" " class="image p3F8DF2"></picture>
                      </div>
                      <h3 class="copy vF8B23D channel-custom-font-Flex-Headline-1">Switching from an Android phone?</h3>
                      <p class="copy helvetica-neue r77DF2D channel-custom-font-Flex-Body-Copy-1">When you buy a new iPhone, the Move to iOS app makes it easy to transfer your photos, contacts, and&nbsp;more.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END SECTION | FLEX 2 UPGRADE-->
      <!--BEGIN SECTION | FLEX 3 MAGSAFE-->
      <div class="section e2D11A3">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed small-display-bleed mD40375">
            <!---->
            <div class="column large-12 gB47277">
              <div>
                <!---->
              </div>
              <h2 class="copy d412265 channel-custom-font-Section-Header-1">Even more to love.</h2>
            </div>
            <div class="column large-12 m3E3368">
              <div>
                <!---->
              </div>
              <div class="bento-box y24C208">
                <div class="bentobox-item m34E52F">
                  <!---->
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed hAB3245">
                    <!---->
                    <div class="column large-6 small-12 v34EB0A">
                      <div>
                        <!---->
                      </div>
                      <h3 class="copy o8C6D68 channel-custom-font-Flex-Eyebrow-1">MagSafe accessories</h3>
                      <p class="copy k6EF000 channel-custom-font-Flex-Headline-2">Snap on a magnetic case, wallet, or both.</p>
                      <p class="copy helvetica-neue m132D2C channel-custom-font-Flex-Body-Copy-2">A colorful ecosystem of accessories for effortless attachment and faster wireless charging. With endless ways to combine, there is a mix to match any style.<span aria-hidden="true" style="top: -0.3em; position: relative; font-size: .6em;vertical-align: top;">◊</span><span class="visuallyhidden" style="white-space: nowrap;">Refer to legal disclaimers</span></p><a href="#" class="link-wrapper" style="--focus-color: rgba(0, 125, 250, 0.6);">{% comment %}<span class="f2F3EEF icon icon-chevronright icon-after channel-custom-font-Flex-Body-Copy-2"><span>Learn more about MagSafe accessories</span></span>{% endcomment %}</a>
                    </div>
                    <div class="column large-6 small-12 bFFED06">
                      <div>
                        <!---->
                      </div>
                      <div>
                        <picture>
                          <source media="(min-width: 1069px)" sizes="(min-width: 1069px) 417px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_magsafe_large_2x.png?1694035518948 834w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_magsafe_large.png?1694035518951 417w" type="image/png">
                          <source media="(min-width: 735px)" sizes="(min-width: 735px) 306px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_magsafe_medium.png?1694035518948 306w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_magsafe_medium_2x.png?1694035518949 612w" type="image/png"><img sizes="320px" srcset="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_magsafe_small.png?1694035518948 320w,https://www.istore.co.za/media/wysiwyg/iPhone15/flex_magsafe_small_2x.png?1694035518950 640w" src="https://www.istore.co.za/media/wysiwyg/iPhone15/flex_magsafe_small.png?1694035518948" alt="iPhone 15 showing iPhone 15 Silicon Case with MagSafe, FineWoven Wallet with Magsafe, MagSafe Charger, MagSafe Battery Pack." class="image i3B3822"></picture>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END SECTION | FLEX 3 MAGSAFE-->
      <!--BEGIN SECTION | FOOTER-->
      <div class="section tA44B41">
        <div class="section-content">
          <div class="row large-display-bleed medium-display-bleed small-display-bleed g15349A">
            <!---->
            <aside aria-labelledby="comp" role="complimentary" class="column large-12 k891ECE">
              <div>
                <!---->
              </div>
              <div class="row large-display-bleed medium-display-bleed small-display-bleed t7F1C2C">
                <!---->
                <div class="column large-12 g304EF8">
                  <div>
                    <!---->
                  </div>
                  <h2 class="copy helvetica-neue g748742 channel-custom-font-Disclaimer-Copy-1"><span id="footnote-diamond-1" aria-hidden="true">◊</span> Legal Disclaimers</h2>
                </div>
              </div>
              <ul role="list" class="list nC75966">
                <li role="listitem" class="list-item k5CCAEA">
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed hA48C62">
                    <!---->
                    <div class="column large-12 dE7AF5A">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue x61DB8C channel-custom-font-Disclaimer-Copy-1"><span style="font-weight: 500;">Display Size:</span> The display has rounded corners that follow a beautiful curved design, and these corners are within a standard rectangle. When measured as a standard rectangular shape, the screen is 6.12 inches (iPhone&nbsp;15&nbsp;Pro, iPhone&nbsp;15) or 6.69 inches (iPhone&nbsp;15&nbsp;Pro&nbsp;Max, iPhone&nbsp;15&nbsp;Plus) diagonally. Actual viewable area is less.</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item xA9C558">
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed h119288">
                    <!---->
                    <div class="column large-12 e86A85D">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue lDB4CA2 channel-custom-font-Disclaimer-Copy-1"><span style="font-weight: 500;">Power and Battery:</span> All battery claims depend on network configuration and many other factors; actual results will vary. Battery has limited recharge cycles and may eventually need to be replaced. Battery life and charge cycles vary by use and settings. See <a href="https://www.apple.com/batteries/" class="footer-link"><span style="color: #424245">apple.com/batteries</span></a> and <a href="https://www.apple.com/iphone/battery.html" class="footer-link"><span style="white-space: nowrap; color: #424245">apple.com/iphone/battery.html</span></a>&nbsp;for more information.</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item hA04E5E">
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed oD58137">
                    <!---->
                    <div class="column large-12 w69DF6A">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue yA71D50 channel-custom-font-Disclaimer-Copy-1"><span style="font-weight: 500;">USB-C:</span> The USB-C Charge Cable included with iPhone&nbsp;15 models is compatible with AirPods&nbsp;Pro (2nd generation) with MagSafe Charging Case (USB-C).</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item gD1915E">
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed h565A85">
                    <!---->
                    <div class="column large-12 u0E67EC">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue kACE972 channel-custom-font-Disclaimer-Copy-1"><span style="font-weight: 500;">Safety:</span> Crash Detection: iPhone&nbsp;14 and iPhone&nbsp;15 can detect a serious car crash and call for help. Requires a mobile data connection or Wi‑Fi calling.</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item i8C5EDE">
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed x5E4B49">
                    <!---->
                    <div class="column large-12 jC38A10">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue b123C57 channel-custom-font-Disclaimer-Copy-1"><span style="font-weight: 500;">USB&nbsp;3:</span> USB&nbsp;3 cable with 10Gb/s speed required for up to 20x faster transfers on&nbsp;iPhone&nbsp;15&nbsp;Pro models.</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item hA22515">
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed dB61B49">
                    <!---->
                    <div class="column large-12 y31AE7A">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue n422281 channel-custom-font-Disclaimer-Copy-1"><span style="font-weight: 500;">Cellular and Wireless:</span> Data plan required. 5G is available in select markets and through select carriers. Speeds vary based on site conditions and carrier. For details on 5G support, contact your carrier and see <a href="https://www.apple.com/iphone/cellular/" class="footer-link"><span style="color: #424245">apple.com/iphone/cellular</span></a>.</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item o7FAF9D">
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed n3E451D">
                    <!---->
                    <div class="column large-12 z7785B7">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue sCEFA79 channel-custom-font-Disclaimer-Copy-1"><span style="font-weight: 500;">MagSafe Accessories:</span> Colors are for illustrative purposes only. MagSafe accessories sold separately.</p>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="list-item hD29B86">
                  <div class="row large-display-bleed medium-display-bleed small-display-bleed iE2A119">
                    <!---->
                    <div class="column large-12 h9B62BD">
                      <div>
                        <!---->
                      </div>
                      <p class="copy helvetica-neue e68C5C8 channel-custom-font-Disclaimer-Copy-1"><span style="font-weight: 500;">Feature Availability:</span> Some features may not be available for all countries or all areas.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </aside>
          </div>
        </div>
      </div>
      <!--END SECTION | FOOTER-->
    </div>


    <!--BEGIN > SCRIPTS:BASE -->
    <script type="text/javascript">"use strict";const reorderDOM={selectorEls:null,headerEl:null,capturedEls:null,capturedElsQuery:null,clonedEls:[],cOrder:null,cMax:null,useStatic:null,selectorElsQuery:null,staticEl:null,staticElQuery:null,addListeners(){window.addEventListener("channel:reorder-dom",e=>{if(this.useStatic=e.detail.useStatic,this.cOrder=e.detail.order,this.cMax=e.detail.max,this.updateElements(),void 0!==e.detail.selectorIndex){document.querySelectorAll(this.selectorElsQuery).item(e.detail.selectorIndex).focus()}})},updateElements(){!this.useStatic&&this.updateSelectors(),!this.useStatic&&this.updateHeadersAX(),!this.useStatic&&this.updateRows(),this.useStatic&&this.updateStatic()},arrayFromNodeList(e){const t=[];return e.forEach(e=>{t.push(e)}),t},updateStatic(){this.clonedEls.forEach((e,t)=>{const i=this.capturedEls[t],r=e.cloneNode(!0),n=r.querySelector("[role=rowheader]"),s=r.querySelector("[id=hidden-columnheader]");let o=[];this.cOrder.forEach((e,t)=>{const i=`[index="${e}"]`,n=r.querySelector(i).parentElement;o.push(n)}),o.reverse().forEach((e,t)=>{e.setAttribute("added",!0),r.prepend(e)});for(let e=0;e<r.children.length;e++){const t=r.children[e];"rowheader"!==t.getAttribute("role")&&"hidden-columnheader"!==t.getAttribute("id")&&(t.style.order="unset",this.toggleVisibility(t,e<this.cMax))}s&&r.prepend(s),r.prepend(n),r.setAttribute("added",!0),i.innerHTML=r.innerHTML})},updateHeadersAX(){let e='<div role="columnheader">&nbsp;</div>';document.querySelectorAll(this.selectorElsQuery).forEach((t,i)=>{const r=t.querySelector("[selected=true]").innerText.trim();"flex"===t.parentElement.parentElement.style.display&&(e+=`<div role="columnheader">${r}</div>`)}),this.headerEl.innerHTML=e},updateSelectors(){document.querySelectorAll(this.selectorElsQuery).forEach((e,t)=>{e.replaceWith(this.selectorEls[t])}),this.cOrder.forEach((e,t)=>{const i=this.selectorEls[t];let r=0;for(let t=0;t<i.options.length;t++){const n=i.options[t],s=Number(n.value)===e;s&&(r=t),n.removeAttribute("selected"),n.setAttribute("selected",s),n.removeAttribute("aria-selected"),n.setAttribute("aria-selected",s)}i.selectedIndex=r});for(var e=0;e<this.selectorEls.length;e++){const t=this.selectorEls[e],i=e<this.cMax;this.toggleVisibility(t.parentElement.parentElement,i)}},updateRows(){this.clonedEls.forEach((e,t)=>{const i=this.capturedEls[t],r=e.cloneNode(!0),n=r.querySelector("[role=rowheader]"),s=[];this.cOrder.forEach(e=>{const t=`[index="${e}"]`,i=r.querySelector(t).parentElement;s.push(i)}),s.reverse().forEach(e=>{r.prepend(e)});for(let e=0;e<r.children.length;e++){const t=r.children[e];"rowheader"!==t.getAttribute("role")&&(t.style.order="unset",this.toggleVisibility(t,e<this.cMax))}r.prepend(n),i.innerHTML=r.innerHTML})},toggleVisibility(e,t){e.style.visibility=t?"visible":"hidden",e.style.display=t?"flex":"none",e.style.order="unset"},init(e,t,i,r,n){this.useStatic=n,this.capturedEls=document.querySelectorAll(e),this.capturedElsQuery=e,this.headerEl=document.querySelector(i),this.selectorEls=document.querySelectorAll(t),this.selectorElsQuery=t,this.staticElQuery=r,this.staticEl=this.useStatic&&document.querySelector(this.staticElQuery).cloneNode(!0),this.useStatic=n,this.clonedEls=this.arrayFromNodeList(this.capturedEls),this.addListeners()}},viewportManager={nState:null,cState:null,init:function(){this.addListeners()},addListeners:function(){const e={small:window.matchMedia("(max-width: 734px)"),medium:window.matchMedia("(min-width: 735px) and (max-width: 1068px)"),large:window.matchMedia("(min-width: 1069px)")};Object.keys(e).forEach(t=>{const i=e[t];"function"!=typeof i.addEventListener?i.addListener(()=>{i.matches&&this.viewportObserve(t)}):i.addEventListener("change",()=>{i.matches&&this.viewportObserve(t)}),i.matches&&this.viewportObserve(t)})},viewportObserve:function(e){this.nState=e,this.cState!==this.nState&&(this.cState=this.nState,this.dispatch(this.cState))},dispatch:function(e){const t=new CustomEvent("channel:viewport-change",{detail:e});window.dispatchEvent(t)}},orientationManager={orienation:null,init:function(){window.matchMedia("(orientation: portrait)").addEventListener("change",e=>{e.matches?this.orienation="portrait":this.orienation="landscape",this.dispatch(this.orienation)})},dispatch:function(e){const t=new CustomEvent("channel:orientation-change",{detail:e});window.dispatchEvent(t)}},selectorManager={init:function(e,t){const i=document.querySelectorAll(e);i.forEach((e,t)=>{e.addEventListener("change",()=>{const r=e.selectedIndex,n=e.value,s=Number(e.options[r].getAttribute("value"));this.dispatch({elIndex:t,selectedIndex:s,value:n,selectorEls:i}),e.focus()})})},dispatch:function(e){const t=new CustomEvent("channel:pre-user-select",{detail:e});window.dispatchEvent(t)}},buyButtonManager={buyButtonQuery:null,init:function(e){this.buyButtonQuery=e,this.addListeners(),this.attachButtonListeners()},addListeners:function(){window.addEventListener("channel:reorder-dom",()=>{this.attachButtonListeners()})},attachButtonListeners:function(){document.querySelectorAll(this.buyButtonQuery).forEach(e=>{e.addEventListener("click",t=>{const i=0===t.screenX&&0===t.screenY?"Keyboard Interaction":"Mouse Click";this.dispatch({productName:e.id,eventSource:i})})})},dispatch:function(e){const t=new CustomEvent("channel:buy-button-click",{detail:e});window.dispatchEvent(t)}},dataManager={order:null,viewportKey:null,viewportOrder:null,viewportMax:null,init:function(e,t){this.order=e,this.useStatic=t,this.addListeners()},viewportChange(e){this.viewportKey=e,this.viewportOrder=this.order[this.viewportKey],this.viewportMax=this.order.max[this.viewportKey],this.dispatch({order:this.viewportOrder,max:this.viewportMax,useStatic:this.useStatic})},blurSelects(e){document.querySelectorAll(e).forEach(e=>{e.blur()})},flattenOrders(){this.viewportOrder=this.order[this.viewportKey],this.viewportMax=this.order.max[this.viewportKey],["small","medium","large"].forEach(e=>{this.order[e]=this.viewportOrder})},getLineupInfo(e,t){const i={};return e.forEach((e,r)=>{i[r]={columnIndex:r,deviceName:e.options[e.selectedIndex].text,hasChanged:r===t}}),i},userSelect(e){const{elIndex:t,selectedIndex:i}=e,r=this.viewportOrder[t],n=this.viewportOrder.find(e=>e===i),s=this.viewportOrder.indexOf(n);void 0!==n?(this.viewportOrder[s]=r,this.viewportOrder[t]=n):this.viewportOrder[t]=i,this.flattenOrders(),this.dispatch({order:this.viewportOrder,max:this.viewportMax,useStatic:this.useStatic,selectorIndex:t}),e.deviceLineup=this.getLineupInfo(e.selectorEls,t),delete e.selectorEls;const o=Object.keys(e.deviceLineup).slice(0,this.viewportMax).reduce((t,i)=>(t[i]=e.deviceLineup[i],t),{});this.dispatchPostUserSelect({deviceLineup:o})},addListeners:function(){window.addEventListener("channel:pre-user-select",e=>{this.userSelect(e.detail)}),window.addEventListener("channel:user-refresh",e=>{this.dispatch({order:this.viewportOrder,max:this.viewportMax,useStatic:this.useStatic})}),window.addEventListener("channel:viewport-change",e=>{this.viewportChange(e.detail),this.blurSelects(this.selectorElsQuery)}),window.addEventListener("change:orientation-change",()=>{this.blurSelects(this.selectorElsQuery)})},dispatch:function(e){const t=new CustomEvent("channel:reorder-dom",{detail:e});window.dispatchEvent(t)},dispatchPostUserSelect:function(e){const t=new CustomEvent("channel:user-select",{detail:e});window.dispatchEvent(t)}},channelCompare={inited:!1,init:function(e=null){if(this.inited)return;let t;if(this.isDev=window.location.host.indexOf("127.0.0.1")>-1,e)t=e;else if(!e){const e=document.querySelector("[data-channel-html-compare]");if(!e)return void console.warn("channelCompare: element[data-channel-html-compare not found]");try{const i=e.getAttribute("data-channel-html-compare");t=JSON.parse(i)}catch(e){return void console.warn("channelCompare: error parsing JSON",e)}}if(t.isConfigurableCompare){let e={large:[],medium:[],small:[]},i=[];const r=document.querySelector("[data-compare-lineup]");if(r)try{const e=r.getAttribute("data-compare-lineup"),t=JSON.parse(null!==e&&void 0!==e?e:"{}");t["apple-compare"]&&(i=t["apple-compare"])}catch(e){return void console.warn("channelCompare: error parsing JSON",e)}const n=new URL(window.location.toLocaleString()).searchParams;n.get("apple-compare")&&(i=n.get("apple-compare").split(",")),Object.keys(e).forEach(t=>{var r;e[t]=[...new Set(null!==(r=null===i||void 0===i?void 0:i.map(e=>Number(e)-1))&&void 0!==r?r:[])].filter(e=>Number(e)>=0)}),t.order=this.orderOverwrite(t.order,e)}const i=t.order,r=t.headerEl,n=t.selectorEls,s=t.swapEls,o=t.staticEl,a=t.useStatic;reorderDOM.init(s,n,r,o,a),!a&&selectorManager.init(n),buyButtonManager.init(".compare-button"),dataManager.init(i,a),viewportManager.init(),orientationManager.init(),this.inited=!0},orderOverwrite:function(e,t){const i=Object.assign({},e);return Object.keys(t).forEach(e=>{const r=i[e].filter(i=>!t[e].includes(i)),n=[...t[e],...r].slice(0,5);i[e]=n}),i}};window.addEventListener("pageshow",e=>{const{persisted:t}=e;if(t)window.addEventListener("scroll",()=>{const e=new CustomEvent("channel:user-refresh");window.dispatchEvent(e)});else{channelCompare.init(),document.querySelector(".channel-compare").classList.remove("channel-compare--hidden")}});</script>
    <!--END > SCRIPTS:BASE -->
  </body>